<div class="c-pass-reset u-c-content">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "c-pass-reset__form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="u-form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com" %>
    </div>

    <div class="u-form-group">
      <%= f.submit "Send reset instructions", class: "c-button" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>
