<div class="c-bet-card" id="bet_<%= bets.first.parlay_group || bets.first.id %>">
  <div class="c-bet-card__content">
    <div class="c-bet-card__body">
      <div class="c-bet-card__type-result">
        <h3><%= bet_type(bets.first) %></h3>
        <p class="c-bet-card__result <%= result_class(bets.first) %>"><%= result_text(bets.first) %></p>
      </div>

      <div class="c-bet-card__matches-grid">
        <% bets.each do |bet| %>
          <div class="c-bet-card__match-column">
            <p class="c-bet-card__bet-date"><%= bet.created_at.strftime('%e %b %Y') %></p>

            <% if policy(bet).view_data? %>
              <p class="c-bet-card__match-name u-highlight-prim"><%= bet.match.name %><br></p>
              <p class="c-bet-card__card-match-name u-highlight-prim"><%= bet.pick %><br></p>
              <p><strong>EU odds:</strong> <%= bet.eu_odds %> <span class="c-bet-card__separator">|</span> <strong>US Odds:</strong> <%= bet.us_odds %></p>
            <% else %>
              <p class="c-bet-card__match-name u-highlight-prim">Content hidden<br></p>
              <p><strong>EU odds:</strong> Content hidden <span class="c-bet-card__separator">|</span> <strong>US Odds:</strong> Content hidden</p>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if bets.first.parlay_group %>
        <div>
          <p class="c-bet-card__total-odds">
            <% if policy(bets.first).view_data? %>
              <strong>Total Odds:</strong> <%= calculate_total_odds(bets) %>
            <% else %>
              <strong>Total Odds:</strong> Content hidden
            <% end %>
          </p>
        </div>
      <% end %>
    </div>

    <%= render 'shared/admin_buttons', bet: bets.first if current_user.admin? %>
  </div>

  <!-- Only show cover if data should not be visible -->
  <% unless policy(bets.first).view_data? %>
    <div class="c-bet-card__cover">
      <%= icon("fa-solid", "lock") %>
      <%= button_to 'Unlock bet', admin_unlock_bet_path(bets.first), method: :patch, class: "c-button" %>
    </div>
  <% end %>
</div>
