<!-- Divide sections -->

<div id="landing-page-c" class="content-c">

  <section id="main">
    <div class="marketing-slinty">
      <h1>Unlock Daily Tennis Picks Backed by <span class="highlight-prim">Expert Research</span> and <span class="highlight-prim">AI Precision</span></h1>
      <p>Our team of experts and advanced AI deliver carefully curated tennis picks designed for consistent, steady returns. Join TennisWins today and elevate your betting strategy with insights you can trust</p>
      <div class="cta-buttons">
        <%= link_to 'Picks', root_path, class: "button-prim" %>
        <%= link_to 'Sign up', new_user_registration_path, class: "button-prim-outline" %>
      </div>
    </div>
    <div class="picks-display">
      <div class="winning-c">
        <h2 class="title-abs">Won bets</h2>
        <h2 class="winning"><%= @number_won_bets %></h2>
      </div>
      <div class="amount-made-c">
        <h2 class="title-abs">Made for betters</h2>
        <h2 class="amount-made">$<%= @money_made %></h2>
      </div>
      <p class="base-calculation-p"># Calculated at $100 bet</p>
    </div>
  </section>

  <section id="how-it-works" data-controller="landing-page">
    <h2 class="section-title">How It Works</h2>
    <div class="how-it-works-container">
      <div class="steps-container">
        <p class="step active" id="step-1" data-action="click->landing-page#changeStep">Step 1 - Create a Free Account</p>
        <p class="step" id="step-2" data-action="click->landing-page#changeStep">Step 2 - Upgrade to Our Paid Membership</p>
        <p class="step" id="step-3" data-action="click->landing-page#changeStep">Step 3 - Receive Daily Picks</p>
      </div>
      <div class="step-desc-container">
        <p class="step-desc" data-landing-page-target="stepDesc">Sign up with a free account to explore our historical data and gain access to our community channels on Discord/Telegram. See how our picks have performed over time and evaluate the quality of our insights.</p>
      </div>
    </div>
  </section>

  <section id="why-us">
    <h2 class="section-title">Why Choose Us?</h2>
    <div class="why-us-grid">
      <h3 class="w-u-item">Expert Insights & AI-Driven Analysis</h3>
      <p class="w-u-item">Our team of seasoned tennis experts conducts in-depth research on every matchup, considering player form, head-to-head records, and even personal factors. This human expertise is then enhanced by our advanced AI system, which cross-references data points to identify the highest probability outcomes.</p>

      <h3 class="w-u-item">Daily Picks Delivered to You</h3>
      <p class="w-u-item">Never miss an opportunity. Our picks are delivered straight to your inbox every morning and are also available in our members-only section, so you’re always ready to make your move.</p>

      <h3 class="w-u-item">Tailored for Serious Bettors</h3>
      <p class="w-u-item">We cater to those who are serious about making informed betting decisions. Whether you're placing $50 per pick or more, our service is designed to help you achieve long-term success.</p>

      <h3 class="w-u-item">Consistent, Reliable Picks</h3>
      <p class="w-u-item">We’re not about chasing high-risk, high-reward odds. Our picks focus on consistency, with odds typically around 2.00, offering you a balanced approach that’s designed to deliver steady returns over time.</p>
    </div>
  </section>

  <section id="pricing-section">
    <h2 class="section-title">Pricing</h2>
    <div id="pricing">
      <div class="free p-container">
        <h2>Free</h2>
        <ul>
          <li>Access to Historical Picks and Data</li>
          <li>Access to Discord / Telegram</li>
        </ul>
      </div>

      <div class="paid p-container">
        <h2>$99 / monthly</h2>
        <ul>
          <li>Access to Historical Picks and Data</li>
          <li>Access to Discord / Telegram</li>
          <li>Access to Daily Picks in Members Section</li>
          <li>Every Pick Emailed to You</li>
        </ul>
      </div>
    </div>

    <%= link_to 'Sign up', new_user_registration_path, class: "button-prim" %>
  </section>

  <section id="success-stories">
    <h2 class="section-title">Success Stories</h2>
    <p class="subtitle">Below are some nice messages some of our team have received.</p>
    <div class="messages-grid">
      <div class="message-placeholder"></div>
      <div class="message-placeholder"></div>
      <div class="message-placeholder"></div>
      <div class="message-placeholder"></div>
      <div class="message-placeholder"></div>
      <div class="message-placeholder"></div>
    </div>
    <%= link_to 'Sign up', new_user_registration_path, class: "button-prim button-prim-success-sec" %>
  </section>
</div>
